#about {background-color: rgb(48, 48, 48);
    color: aliceblue;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 1em;

}

.aaa {
    animation: fadeIn;
    animation-duration: 1s;
}

.animacja_tekstu {
    animation: zoomIn;
    animation-duration: 0.5s;
}